@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

*,
*::before,
*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	position: relative;
	min-height: 97vh;
	font:  16px/1.6 'Poppins', helvetica, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	margin: 0;
	background: url('src/background-80.jpg') fixed no-repeat center/cover;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
body.clip{
	overflow: hidden;
}
h1{
	text-align: center;
	font-size: 2.5rem;  
	margin: 0;
	padding-top: 4rem;
	color: white;
}
.scores {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 1.5rem;
	color: white;
}
#board{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 1rem;
}
#cards{
	display: grid;
	grid-template-columns: repeat(auto-fit, 120px);
	gap: 1rem;
	padding: 0.5rem;
	margin: 0 auto 3rem;
	max-width: 680px;
	perspective: 1000px;
}
.card{
	position: relative;
	width: 120px;
	height: 120px;
	transition: transform 0.25s;
	transform-style: preserve-3d;
	cursor: pointer;
	box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.5);
	border-radius: 1rem;
	border:  5px solid slategray;
}
.card-img-front {
    width: 110px;
	height: 110px;
    border-radius: 0.5rem;
}
.card-img-back {
    width: 50px;
	height: 50px;
}
.card.flip{
	transform: rotateY(180deg);
}
.card.match{
	cursor: default;
	border-color: lightgreen;
	user-select: none;
}
.card__front,
.card__back{
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	backface-visibility: hidden;
	border-radius: 1rem;
}
.card__back{
	background: white;
} 
.card__front{
	background: whitesmoke;
	font-size: 4rem;
	transform: rotateY(180deg);
}
#endGame, #startGame{
	position: fixed;
	inset: 0;
	opacity: 0;
	pointer-events: none;
	display: grid;
	place-items: center;
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 0.25s;
}
#startGame.active {
    pointer-events: auto;
	opacity: 1;
}
#endGame.active{
	pointer-events: auto;
	opacity: 1;
}
.modal{
	text-align: center;
	padding:  1rem 4rem;
	min-width: 50%;
	background: whitesmoke;
	border-radius: 0.5rem;
	box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.9);
}
.congrats{
	font-size: 2rem;
	font-weight: bold;
	margin: 1rem 1rem 1.5rem;
	background:  linear-gradient(90deg, red, purple, blue, cyan);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.button{
	display: inline-block;
	margin-top: 1rem;
    margin-bottom: 2rem;
	padding: 0.5rem 2rem;
	border:  2px solid whitesmoke;
	border-radius: 0.5rem;
	background: white;
	color: dimgray;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0 0 10px -2px;
}
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
  }
label {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}